<section class="service-container">
  <div class="service-wrapper">
    <div class="service-card__container">
      <h1 class="service-header">Services</h1>
      <div class="service-card">
        <div class="service-banner-item">
          <div class="service-caption">
            <h3>
              <p>full</p>
              <p>car service</p>
            </h3>
            <p class="service-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Cupiditate, quisquam. Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Cupiditate, quisquam.
            </p>
          </div>
        </div>
      </div>
      <div class="service-card">
        <div class="service-banner-item">
          <div class="service-caption">
            <h3>
              <p>full</p>
              <p>car service</p>
            </h3>
            <p class="service-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Cupiditate, quisquam.
            </p>
          </div>
        </div>
      </div>
      <div class="service-card">
        <div class="service-banner-item">
          <div class="service-caption">
            <h3>
              <p>full</p>
              <p>car service</p>
            </h3>
            <p class="service-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Cupiditate, quisquam.
            </p>
          </div>
        </div>
      </div>
      <div class="service-card">
        <div class="service-banner-item">
          <div class="service-caption">
            <h3>
              <p>full</p>
              <p>car service</p>
            </h3>
            <p class="service-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Cupiditate, quisquam.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
