<section
  id="shopify-section-template"
  class="category-section section section_homepage section_banners"
>
  <div class="category-card__container">
    <div
      class="category-card"
      [ngStyle]="{ background: category.background, color: category.color}"
      *ngFor="let category of CATEGORY_DATA"
    >
    <div class="card-background-image">
      <img src="{{category.image}}" alt="">
    </div>
   
      <div class="card-banner-item">
        <div class="card-caption">
          <h1>{{ category.header_1 }}</h1>
          <h2>{{ category.header_2 }}</h2>
          <p>
            {{ category.description }}
          </p>
          <button>Read more</button>
        </div>
    </div>
    </div>
  </div>
</section>
