<section
  id="shopify-section-template"
  class="category-section section section_homepage section_banners"
>
  <div class="category-card__container">
    <div class="category-card">
      <div class="card-banner-item">
        <div class="card-caption">
          <h1>Brake</h1>
          <h2>systems</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate,
            quisquam.
          </p>
          <button>Read more</button>
        </div>
      </div>
    </div>
    <div class="category-card">
      <div class="card-banner-item">
        <div class="card-caption">
          <h1>Brake</h1>
          <h2>systems</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate,
            quisquam.
          </p>
          <button>Read more</button>
        </div>
      </div>
    </div>
    <div class="category-card">
      <div class="card-banner-item">
        <div class="card-caption">
          <h1>Brake</h1>
          <h2>systems</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate,
            quisquam.
          </p>
          <button>Read more</button>
        </div>
      </div>
    </div>
    <div class="category-card">
      <div class="card-banner-item">
        <div class="card-caption">
          <h1>Brake</h1>
          <h2>systems</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate,
            quisquam.
          </p>
          <button>Read more</button>
        </div>
      </div>
    </div>
  </div>
</section>
