<section
  id="shopify-section-template--14297455722558__4328c260-50fb-4cf7-bb15-70f8b1435690"
  class="shopify-section section section_homepage section_banners"
>
  <link
    href="//theme792-auto-parts.myshopify.com/cdn/shop/t/3/assets/section-banners.css?v=181724535916802432111671543706"
    rel="stylesheet"
    type="text/css"
    media="all"
  />

  <div
    class="section-style-template--14297455722558__4328c260-50fb-4cf7-bb15-70f8b1435690"
  >
    <div class="full-width">
      <div class="row">
        <div class="col-12 col-lg-12">
          <div
            class="banner-item item-template--14297455722558__4328c260-50fb-4cf7-bb15-70f8b1435690-167154278683c4c628-0 style-overlay d-flex flex-column"
            style="padding: 0 0 0 0"
          >
            <a
              class="image-item-container link_hover"
              href="/collections/performance"
            >
              <div
                class="image-item-wrapper"
                style="padding-top: 32.19512195121951%"
              >
                <img
                  class="image-content__image lazyautosizes ls-is-cached lazyloaded"
                  src="//theme792-auto-parts.myshopify.com/cdn/shop/files/Layer_3_300x300.png?v=1671542796"
                  data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                  data-sizes="auto"
                  alt=""
                  data-srcset="//theme792-auto-parts.myshopify.com/cdn/shop/files/Layer_3_180x.png?v=1671542796 180w, //theme792-auto-parts.myshopify.com/cdn/shop/files/Layer_3_360x.png?v=1671542796 360w, //theme792-auto-parts.myshopify.com/cdn/shop/files/Layer_3_540x.png?v=1671542796 540w, //theme792-auto-parts.myshopify.com/cdn/shop/files/Layer_3_720x.png?v=1671542796 720w, //theme792-auto-parts.myshopify.com/cdn/shop/files/Layer_3_900x.png?v=1671542796 900w, //theme792-auto-parts.myshopify.com/cdn/shop/files/Layer_3_1080x.png?v=1671542796 1080w, //theme792-auto-parts.myshopify.com/cdn/shop/files/Layer_3_1296x.png?v=1671542796 1296w, //theme792-auto-parts.myshopify.com/cdn/shop/files/Layer_3_1512x.png?v=1671542796 1512w, //theme792-auto-parts.myshopify.com/cdn/shop/files/Layer_3_1728x.png?v=1671542796 1728w, //theme792-auto-parts.myshopify.com/cdn/shop/files/Layer_3_1944x.png?v=1671542796 1944w, //theme792-auto-parts.myshopify.com/cdn/shop/files/Layer_3_2048x.png?v=1671542796 2048w"
                  sizes="1519px"
                  srcset="
                    //theme792-auto-parts.myshopify.com/cdn/shop/files/Layer_3_180x.png?v=1671542796   180w,
                    //theme792-auto-parts.myshopify.com/cdn/shop/files/Layer_3_360x.png?v=1671542796   360w,
                    //theme792-auto-parts.myshopify.com/cdn/shop/files/Layer_3_540x.png?v=1671542796   540w,
                    //theme792-auto-parts.myshopify.com/cdn/shop/files/Layer_3_720x.png?v=1671542796   720w,
                    //theme792-auto-parts.myshopify.com/cdn/shop/files/Layer_3_900x.png?v=1671542796   900w,
                    //theme792-auto-parts.myshopify.com/cdn/shop/files/Layer_3_1080x.png?v=1671542796 1080w,
                    //theme792-auto-parts.myshopify.com/cdn/shop/files/Layer_3_1296x.png?v=1671542796 1296w,
                    //theme792-auto-parts.myshopify.com/cdn/shop/files/Layer_3_1512x.png?v=1671542796 1512w,
                    //theme792-auto-parts.myshopify.com/cdn/shop/files/Layer_3_1728x.png?v=1671542796 1728w,
                    //theme792-auto-parts.myshopify.com/cdn/shop/files/Layer_3_1944x.png?v=1671542796 1944w,
                    //theme792-auto-parts.myshopify.com/cdn/shop/files/Layer_3_2048x.png?v=1671542796 2048w
                  "
                /></div
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
