<div class="header">
  <div class="container">
    <div class="col-xl-auto d-xl-flex justify-content-start">
      <div class="block-logo">
        <div class="logo-image">
          <div>
            <a
              class="header_logo"
              href="https://theme792-auto-parts.myshopify.com"
              style="max-width: 170px"
            >
              <img
                class="img-fluid"
                src="//theme792-auto-parts.myshopify.com/cdn/shop/files/logo_8fb92402-a46a-4c1c-8b54-470fae9df39c_170x70_crop_center.png?v=1655477742"
                alt="Spare Parts store"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-md position-static d-flex justify-content-center align-items-center"
      style="width: 100%"
    >
      <nav
        id="megamenu"
        class="default-menu horizontal-menu position-static megamenu_desktop"
      >
        <ul
          id="megamenu_level__1"
          class="megamenu level_1 sf-arrows"
          style="touch-action: pan-y"
        >
          <li class="level_1__item" *ngFor="let link of NAVLINKS">
            <span class="level_1__link">
              <span class="link_text"> {{ link.label }} </span>
              <span
                class="level_1__trigger megamenu_trigger"
                data-submenu="menu_15352f9b-3a4a-431b-b989-e76bf12c6807"
                *ngIf="link.sublinks"
              >
                <svg
                  width="7"
                  height="7"
                  viewBox="0 0 12 7"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M0.575684 1.4247L1.42421 0.576172L5.99995 5.15191L10.5757 0.576172L11.4242 1.4247L5.99995 6.84896L0.575684 1.4247Z"
                  ></path>
                </svg>
              </span>
            </span>

            <ul
              id="menu_15352f9b-3a4a-431b-b989-e76bf12c6807"
              class="level_2 is-megamenu py-0 submenu-js"
            >
              <li class="item_4link" *ngFor="let subLink of link.subLinks">
                <div class="row">
                  <div
                    class="megamenu_col__item col-12 col-md-6 col-xl-3 mt-1 mb-2 my-xl-4"
                  >
                    <div class="megamenu_linklist">
                      <h6 class="d-flex mb-2">
                        {{ subLink.header }}
                        <i
                          class="level_2__trigger megamenu_trigger"
                          data-submenu="menu_15352f9b-3a4a-431b-b989-e76bf12c6807-1"
                        ></i>
                      </h6>
                      <ul
                        class="level_3 link-list"
                        id="menu_15352f9b-3a4a-431b-b989-e76bf12c6807-1"
                      >
                        <li
                          class="level_3__item"
                          *ngFor="let subLabel of subLink.subLabels"
                        >
                          <a
                            class="level_3__link"
                            href="/collections/audio-electronics"
                          >
                            <span>
                              <span class="pr-1">{{ subLabel.label }}</span>
                            </span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class="">
      <div class="item_left_spacer"></div>
    </div>
  </div>
</div>
