.header {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  background: #000;
  .container {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    nav {
      display: flex;
      width: 100%;
      // justify-content: center;
      .level_1 {
        position: relative;
        width: fit-content;
        display: flex;
        gap: 2rem;
        margin-left: 15rem;
        font-size: 18px;
        cursor: pointer;
        .level_1__item {
          list-style: none;
          color: white;
          .level_1__link {
            list-style: none;
            text-decoration: none;
            color: white;
            .link_text {
            }
            .level_1__trigger {
              color: white;
              svg {
                color: white;
              }
            }
          }
          .level_2 {
            display: none;
            position: absolute;
          }
          &:hover{
            .level_2{
              display: block;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1200px) {
}
@media (min-width: 576px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 992px) {
}

@media (max-width: 991.98px) {
}

@media (min-width: 1200px) {
}

@media (max-width: 991.98px) {
}

/**
   * Header Sidebar Style
   */
@media (min-width: 1200px) {
}

@media (min-width: 1200px) {
}
